# Slack Integration
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK

# Database
DB_FILE=./data/data.sqlite

# JWT Secret
JWT_SECRET=your-secret-key

# Frontend Origin
FRONT_ORIGIN=http://localhost:8080

# Port
PORT=3000